<div class="container">
  <!-- <h2 class="text-center mb-4">Add New User</h2> -->
  <h2 class="text-center mb-4">{{isEdit ? 'Edit Author' : 'Add Author'}}</h2>

  <!-- <form ng-submit="saveAuthor()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" ng-model="author.name" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Pen Name</label>
      <input type="text" ng-model="author.penName" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">{{isEdit ? 'Update' : 'Create'}}</button>
    <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
  </form> -->
  <form name="authorForm" novalidate ng-submit="saveAuthor(authorForm)" class="p-4 border rounded" style="border-radius: 25px;">
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label fw-bold">Name:</label>
                <input type="text" name="name" ng-model="author.name" class="form-control" placeholder="name"  duplicate-author-name="getAuthors" current-author-id="author.id" required>
                <span class="text-danger" ng-show="(authorForm.name.$touched || submitted) && authorForm.name.$invalid">
                        <span ng-show="authorForm.name.$error.required">Author name cannot be empty.</span>
                        <span ng-show="authorForm.name.$error.duplicateAuthorName">This author name already exists.</span>
               </span>
            </div>

            <div class="col-md-6">
                <label class="form-label fw-bold">Pen Name:</label>
                <input type="text" name="penName" ng-model="author.penName" class="form-control" placeholder="Pen Name" required>
                <span class="text-danger" ng-show="(authorForm.penName.$touched || submitted) && authorForm.penName.$invalid">
                        <span ng-show="authorForm.penName.$error.required">penName cannot be empty.</span>
               </span>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4 gap-2">
            <button type="submit" class="btn btn-success">{{isEdit ? 'Update' : 'Create'}}</button>
            <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
