<div class="p-3 position-relative">
    <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 2%;">
        <h2>Genres</h2>
        
    </div>
    <!-- Search -->
     <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="">
    <input type="text" class="form-control" placeholder="Search by name..." ng-model="searchText" ng-change="applyFilter()">
  </div>
        <div>
    <button class="btn btn-success" ng-click="toggleAddForm()">
        <!-- {{ showAddForm ? 'Cancel' : 'Add Genre' }} -->
          Add Genre
    </button>
        </div>
     </div>
  
    
    
   

    <!-- Add Genre Form -->
    <!-- <div class="popup-form" ng-show="showAddForm" style="margin-top: 10px;">
        <input type="text" ng-model="newGenre.name" placeholder="Enter Genre Name" class="form-control" style="width: 300px; display: inline-block;">
        <button class="btn btn-primary" ng-click="addGenre()">Submit</button>
    </div> -->

    <div ng-show="showAddForm" class="popup-overlay" ng-click="closeForm($event)">
    <div class="popup-card" ng-click="$event.stopPropagation()">
      <h5>{{editingGenre ? 'Edit the genre': 'Add New Genre'}}</h5>
      <!-- <input type="text" ng-model="newGenre.name" placeholder="Enter Genre Name" class="form-control mb-2"> -->
       <!-- <div class="d-flex justify-content-end gap-2 mt-3">
        <button class="btn btn-primary" ng-click="editingGenre ? updateGenre():addGenre()">{{ editingGenre ? 'Update' : 'Submit' }}</button>
        <button class="btn btn-secondary" ng-click="toggleAddForm($event)">Cancel</button>
      </div> -->

      <form name="genreForm" novalidate ng-submit="editingGenre ? updateGenre(genreForm) : addGenre(genreForm)">
            <input type="text"
                name="genreName"
                ng-model="newGenre.name"
                placeholder="Enter Genre Name"
                class="form-control mb-2"
                duplicate-genre-name="generes"
                required
          />
          <span class="text-danger"
                ng-show="(genreForm.genreName.$touched || submitted) && genreForm.genreName.$invalid">
            <span ng-show="genreForm.genreName.$error.required">Genre name cannot be empty.</span>
            <span ng-show="genreForm.genreName.$error.duplicateGenre">
          This genre already exists.
        </span>
          </span>
          <div class="d-flex justify-content-end gap-2 mt-3">
        <button type="submit" class="btn btn-primary">
          {{ editingGenre ? 'Update' : 'Submit' }}
        </button>
        <button type="button" class="btn btn-secondary" ng-click="toggleAddForm(genreForm)">Cancel</button>
      </div>
      </form>
      
    </div>
  </div>

    

    <!-- Genre List -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          <!-- filter:searchText track by genre.id -->
            <tr ng-repeat="genre in paginatedGeneres() track by genre.id">
                <td>{{genre.id}}</td>
                <td>{{genre.name}}</td>
                <td class="d-flex gap-4">
                    <button class="btn btn-info btn-xs" ng-click="editGenre(genre.id)">Edit</button>
                    <button class="btn btn-danger btn-xs" ng-click="deletedGenre(genre.id)">Delete</button>

                </td>
            </tr>
            <tr ng-if="(generes | filter:searchText).length===0">
        <td colspan="3" class="text-center text-muted">No genres found.</td>
      </tr>
        </tbody>
    </table>

    <!-- <div class="text-center mt-3">
    <button class="btn btn-default" ng-click="prevPage()" ng-disabled="currentPage === 1">Prev</button>
    Page {{currentPage}} of {{totalPages()}}
    <button class="btn btn-default" ng-click="nextPage()" ng-disabled="currentPage === totalPages()">Next</button>
  </div> -->

  <nav aria-label="Page navigation" class="mt-4">
  <ul class="pagination justify-content-center">

    
    <li class="page-item" ng-class="{disabled: currentPage === 1}">
      <a class="page-link" href="" ng-click="prevPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    
    <li class="page-item"
        ng-repeat="page in getPageNumbers()"
        ng-class="{active: currentPage === page}">
      <a class="page-link" href="" ng-click="setPage(page)">
        {{ page }}
      </a>
    </li>

    
    <li class="page-item" ng-class="{disabled: currentPage === totalPages()}">
      <a class="page-link" href="" ng-click="nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>

  </ul>
</nav>

    
    <!-- View Genre By ID -->
    <div class="popup-overlay" ng-show="showViewPopup" ng-click="closeViewPopup($event)">
    <div class="popup-card" ng-click="$event.stopPropagation()">
      <h5>Genre Details</h5>
      <hr>
      <p><strong>ID:</strong> {{selectedGenre.id}}</p>
      <p><strong>Name:</strong> {{selectedGenre.name}}</p>
      <p>
        <strong>Book Tags:</strong>
        {{selectedGenre.bookTags.length ? selectedGenre.bookTags.join(', ') : 'None'}}
      </p>
      <div class="text-center">
        <button class="btn btn-primary" ng-click="closeViewPopup()">OK</button>
      </div>
    </div>
  </div>
</div>
